{{#each classes}}
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.courseCode}}</h5>
        <h5 class="card-title">{{this.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Taught by: {{this.professor}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Total Capacity: {{this.totalCapacity}}</h6>
        <h7 class="card-subtitle mb-2 text-muted">Prerequisites: {{this.prereqs}}</h7>
        <br>
        <h7 class="card-subtitle mb-2 text-muted">Precludes: {{this.precludes}}</h7>
        <br>
        {{#if this.isEnrolled}}
            <button class="btn btn-lg btn-primary btn-block text-uppercase" disabled>Already Enrolled</button>
        {{else}}
        <form method="POST">
            {{#if ../student}}
            <input type="hidden" value="{{this._id}}" name="classID">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" name="enrollInClass" type="submit">Enroll in
                Class</button>
            {{/if}}
        </form>
        {{/if}}
        {{#if ../administrator}}
            <form method="GET" action="edit-class">
                <input type="hidden" value="{{this._id}}" name="classID">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Edit Class</button>
            </form>
            <form method="POST" action="delete-class">
                <input type="hidden" value="{{this._id}}" name="classID">
                <button class="btn btn-lg btn-danger btn-block text-uppercase" name="delete" type="submit" onclick="onSubmit('{{this.courseCode}}')">Delete</button>
            </form>
        {{/if}}
    </div>
</div>
{{/each}}
<script>
    var data = "{{classes}}";
    if (data.length === 0) {
        $("#message").html("There are no Classes at this moment!");
    } else {
        $("#message").html("Here are the Classes available for you to register in.");
    }
    function onSubmit(name) {
        if (!confirm("Are you sure you want to delete " + name + "?")) {
            event.preventDefault();
        }
    }

</script>