<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">Class: {{this.cCode}}</h5>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/classes">View Classes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{this.cCode}}</li>
                        </ol>
                    </nav>

                    {{#if error}}
                    <div class="alert alert-danger">Error: {{error}}</div>
                    {{/if}}

                    {{#if professor}}

                    <a class="btn btn-lg btn-primary btn-block text-uppercase"
                        href="/classes/{{this.classId}}/create-deliverable">Create Deliverable</a>
                    <br />
                    <h6 class="card-subtitle mb-2 text-muted">Student Grades:</h6>
                    <select id="selectStudent" style="width: 100%" onchange="onStudentChange()">
                        <option value="">None</option>
                        {{#each studentsEnrolled}}
                        <option id="selectStudent_{{this.id}}" value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <br />
                    <br />

                    {{#if selectedStudent}}
                    {{#unless withdrawn}}
                    <h6 class="card-subtitle mb-2 text-muted">Final Grade: {{finalGrade}}</h6>
                    <form method="POST" action="/classes/{{classId}}/submitFinalGrade" style="white-space: nowrap">
                        <input type="hidden" name="student_id" value="{{selectedStudent}}" />
                        <label style="display: inline" class="card-subtitle mb-2 text-muted">Calculated Final Grade
                            %:</label>
                        <input type="submit" value="Submit" style="display: inline; float: right"></input>
                        <input type="number" step="0.01" name="finalGrade" min="0" max="100"
                            style="display: inline; float: right" value="{{calculatedGrade}}">
                    </form>
                    <br />
                    {{/unless}}
                    {{/if}}

                    {{/if}}

                    <div id="deliverablePageTitle"></div>
                    {{#each deliverables}}
                    <div class="card card-body">
                        <a href="/classes/{{../classId}}/{{this.title}}">
                            <h5 class="card-title">{{this.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Weight: {{this.weight}}%</h6>
                            {{#if ../displaySubmissions}}
                            {{#if this.submission_id}}
                                {{#if this.graded}}
                                <h6 class="card-subtitle mb-2 text-muted">Grade: {{this.grade}}%</h6>
                                {{else}}
                                <h6 class="card-subtitle mb-2 text-muted">Not Graded</h6>
                                {{/if}}
                                </a>
                                {{#if ../professor}}
                                <h6 class="card-subtitle mb-2 text-muted">Submitted:&nbsp;<a href="/classes/{{../classId}}/{{this.title}}/{{this.file_name}}">{{this.original_file_name}}</a></h6>
                                {{/if}}
                                {{#if ../student}}
                                <h6 class="card-subtitle mb-2 text-muted">Submitted:&nbsp;<a href="/classes/{{../classId}}/{{this.title}}/{{this.original_file_name}}">{{this.original_file_name}}</a></h6>
                                {{/if}}
                                {{#if ../professor}}
                                <form method="POST" action="/classes/{{../classId}}/updateGrade" style="white-space: nowrap; margin-right: 15px;">
                                    <label style="display: inline" class="card-subtitle mb-2 text-muted">New Grade:</label>
                                    <input type="hidden" name="submission_id" value="{{this.submission_id}}" />
                                    <input name="action" type="submit" value="Clear"
                                        style="display: inline; float: right"></input>
                                    <input name="action" type="submit" value="Update"
                                        style="display: inline; float: right"></input>
                                    <input type="number" step="0.01" name="grade" min="0" max="100"
                                        style="width: 25%; display: inline; float: right" placeholder="50">
                                </form>
                                <br>
                                {{/if}}
                            {{else}}
                                <h6 class="card-subtitle mb-2 text-muted">Not Submitted</h6>
                            {{/if}}
                            {{/if}}
                            </a>
                        {{#if ../professor}}
                        <a class="flex-fill btn btn-outline-primary" href="/classes/{{../classId}}/{{this.title}}/view-deliverable-submissions">View All Submissions</a>
                        {{/if}}
                    </div>
                    {{/each}}

                    <hr class="my-4">
                    <div id="message" style="text-align: center;"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var data = "{{deliverables}}";
    if (data.length === 0) {
        $("#deliverablePageTitle").html("There are currently no deliverables for this class.");
    } else {
        $("#deliverablePageTitle").html("Deliverables:");
    }

    function onSubmit(name, elem) {
        if (!confirm("Are you sure you want to " + elem.name + " " + name + "?"))
            event.preventDefault();
    }

    {
        const selectedStudent = "{{selectedStudent}}";
        const selectedStudentOptionElement = window[`selectStudent_${selectedStudent}`];
        if (selectedStudentOptionElement) selectedStudentOptionElement.selected = "selected";
        console.log("Displaying results for student", selectedStudent);
    }
    function onStudentChange() {
        const studentId = selectStudent.value;
        window.location = `${window.location.pathname}?selectedStudent=${studentId}`
    }
</script>