<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">Class: {{this.cCode}}</h5>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/classes">View Classes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{this.cCode}}</li>
                        </ol>
                    </nav>

                    {{#if error}}
                    <div class="alert alert-danger">Error: {{error}}</div>
                    {{/if}}
                    {{#if professor}}
                    <form method="GET" action="create-deliverable">
                        <input type="hidden" value="{{this.classId}}" name="classId">
                        <input type="hidden" value="{{this.cCode}}" name="cCode">
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create Deliverable</button>
                    </form>
                    {{/if}}
                    <br>
                    <div id="deliverablePageTitle"></div>

                    {{#each deliverables}}
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Weight: {{this.weight}}%</h6>

                        </div>
                    </div>
                    {{/each}}

                    <hr class="my-4">
                    <div id="message" style="text-align: center;"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var data = "{{deliverables}}";
    if (data.length === 0) {
        $("#deliverablePageTitle").html("There are currently no deliverables for this class.");
    } else {
        $("#deliverablePageTitle").html("Deliverables:");
    }

    function onSubmit(name, elem) {
        if (!confirm("Are you sure you want to " + elem.name + " " + name + "?"))
            event.preventDefault();
    }
</script>