<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">Create Course</h5>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/view-courses">View Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create Course</li>
                        </ol>
                    </nav>
                    <hr class="my-4">
                    {{#if error}}
                    <div class="alert alert-danger" id="courseCreation-error-div">Error: {{error}}</div>
                    <hr class="my-4">
                    {{/if}}
                    <form method="POST">
                        <div class="form-label-group">
                            <label for="courseCode">Course Code:</label>
                            <input id="courseCode" name="courseCode" class="form-control {{response}}" placeholder="Example: COMP4004" required autofocus>
                            <br>
                            <label for="title">Title:</label>
                            <input id="title" name="title" class="form-control {{response}}" placeholder="Example: Software Quality Assurance" required autofocus>
                            <br>
                            <label for="prereqs">Prerequisites for the class:</label>
                            <select class="browser-default custom-select" name="prereqs" id="prereqs" multiple>
                              {{#each courses}}
                                <option value={{this.courseCode}}>{{this.courseCode}}</option>
                              {{/each}}
                            </select>

                            <br>
                            <br>

                            <label for="precludes">Precluded classes:</label>
                            <select class="browser-default custom-select" name="precludes" id="precludes" multiple>
                              {{#each courses}}
                                <option value={{this.courseCode}}>{{this.courseCode}}</option>
                              {{/each}}
                            </select>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="createCourse">Create Course</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>