<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">View Courses</h5>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" name="home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">View Courses</li>
                        </ol>
                    </nav>
                    <hr class="my-4">
                    <a href="/create-course" class="list-group-item list-group-item-action" name="createNewCourse">Create New Course</a>
                    <hr class="my-4">
                    <div class="md-form mt-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <br>
                    {{#each courses}}
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title" id='{{this.courseCode}}Label'>{{this.courseCode}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted" id='{{this.courseCode}}Title'>{{this.title}}</h6>
                          <h7 class="card-subtitle mb-2 text-muted" id='{{this.courseCode}}Prereqs'>Prerequisites: {{this.prereqs}}</h7>
                          <br>
                          <h7 class="card-subtitle mb-2 text-muted" id='{{this.courseCode}}Precludes'>Precludes: {{this.precludes}}</h7>
                          <br>
                          <form method="GET" action="edit-course">
                            <input type="hidden" value="{{this._id}}" name="courseID">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="{{this.courseCode}}EditButton">Edit Course</button>
                          </form>
                          <form method="POST" action="delete-course">
                            <button class="btn btn-lg btn-danger btn-block text-uppercase" name="delete" id="{{this.courseCode}}DeleteButton"
                              type="submit" value="{{this._id}}" onclick="onSubmit('{{this.courseCode}}')">Delete</button>
                          </form>
                      </div>
                    </div>
                  {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ("{{courses}}".length === 0) $("#message").html("No courses to display");
    function onSubmit(name) {
        if (!confirm("Are you sure you want to delete " + name + "?")) {
            event.preventDefault();
        }
    }
</script>