<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center">View Courses</h5>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">View Courses</li>
                        </ol>
                    </nav>
                    <hr class="my-4">
                    <a href="/create-course" class="list-group-item list-group-item-action">Create New Course</a>
                    <hr class="my-4">
                    <div class="md-form mt-0">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <br>
                    <form method="POST" action="delete-course">
                        {{#each courses}}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{this.courseCode}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{this.title}}</h6>
                                <button class="btn btn-lg btn-danger btn-block text-uppercase" name="delete"
                                    type="submit" value="{{this._id}}" onclick="onSubmit('{{this.courseCode}}')">Delete</button>
                            </div>
                        </div>
                        {{/each}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ("{{courses}}".length === 0) $("#message").html("No courses to display");
    function onSubmit(name) {
        if (!confirm("Are you sure you want to delete " + name + "?")) {
            event.preventDefault();
        }
    }
</script>