<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Course Management System</h3>
                    <h5 class="card-title text-center" id="createClassPage">{{title}}</h5>
                    <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/view-classes">Manage Classes</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Class</li>
                    </ol>
                    </nav>
                    <hr class="my-4">
                    {{#if error}}
                    <div class="alert alert-danger" id="classCreation-error-div">{{error}}</div>
                    <hr class="my-4">
                    {{/if}}
                    
                <form name="class_creation_form" method="POST">
                    <label for="course">Course ID:</label>
                    <select class="browser-default custom-select" name="course" id="course">
                        {{#each courses}}
                        <option value={{this._id}}>{{this.courseCode}}</option>
                        {{/each}}
                    </select>

                    <br><br>

                    <label for="professor">Professor for the class:</label>
                    <select class="browser-default custom-select" name="professor" id="professsor">
                        {{#each professors}}
                        <option value={{this._id}}>{{this.fullname}}</option>
                        {{/each}}
                    </select>

                    <br><br>

                    <div class="form-label-group">
                        <label for="capacity">Class Capacity:</label>
                        <input type="number" id="capacity" name="capacity" class="form-control {{response}}" placeholder="200" required autofocus>
                    </div>

                    <br>
                    <hr class="my-4">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="createClass">Create Class</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>